@model BookingMovieTickets.Models.Film

@{
    ViewData["Title"] = "Film Details";
}

<h2>Chi tiết lịch chiếu phim</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên phim:
        </dt>
        <dd class="col-sm-10">
            @Model.NameFilm
        </dd>
        <dt class="col-sm-2">
            Lịch chiếu:
        </dt>
        <dd class="col-sm-10">
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Thời gian chiếu</th>
                        <th>Phòng chiếu</th>
                        <th>Rạp chiếu</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var filmSchedule in Model.FilmSchedules)
                        {
                        <tr>
                            <td>@filmSchedule.ScheduleDescription.Description.ToString("hh\\:mm")</td>
                            <td>@filmSchedule.TheatreRoom.RoomName</td>
                            <td>@filmSchedule.TheatreRoom.Theatre.Name</td>
                        </tr>
                        }
                </tbody>
            </table>
        </dd>

        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddScheduleForSpecificFilm" asp-route-filmId="@Model.FilmId">Thêm lịch chiếu</a>|
    <a asp-action="Edit" asp-route-id="@Model.FilmId" class="btn btn-primary">Chỉnh sửa</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
