@model IEnumerable<MoviesBooking.Models.Film>
@using BookingMovieTickets.VIewModel
@{
    ViewData["Title"] = "Index";
}



<table class="table">
    <thead>
        <tr>
 
            <th>
                Phim
            </th>
            <th>
                Tên phòng
            </th>
            <th>
                Tên rạp
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Distinct()) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NameFilm)
            </td>
            <td>
            @foreach (var item1 in item?.FilmSchedules.Where(fs => fs.TheatreRoom?.Theatre != null).Select(fs => fs.TheatreRoom.RoomName).Distinct())
            {
                @item1
            }
            </td>
            <td>
                @foreach (var item1 in item?.FilmSchedules.Where(fs => fs.TheatreRoom?.Theatre != null).Select(fs => fs.TheatreRoom.Theatre.Name).Distinct())
                {
                    @item1
                }
            </td>
            <td>
                <a asp-action="Create" asp-route-id="@item.FilmId">Thêm lịch chiếu</a> |
                <a asp-action="Edit" asp-route-id="@item.FilmId">Sửa lịch chiếu</a> |
                <a asp-action="Details" asp-route-id="@item.FilmId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
