@using Microsoft.AspNetCore.Identity
@using BookingMovieTickets.Models
@using BookingMovieTickets.VIewModel
@inject SignInManager<UserInfo> SignInManager
@inject UserManager<UserInfo> UserManager
@{
    var user = UserManager.GetUserAsync(User);
    var model = ViewData["LayoutViewModel"] as FilmVM;

}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8" />
    <title>InfinityCinema - @ViewData["Title"]</title>
    <meta name="description" content="A Template by Gozha.net" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Gozha.net" />

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <!-- Roboto -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,700" rel="stylesheet" type="text/css" />
    <!-- Open Sans -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:800italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Stylesheets -->
    <!-- Mobile menu -->
    <link href="~/css/gozha-nav.css" rel="stylesheet" />
    <!-- Select -->
    <link href="~/css/external/jquery.selectbox.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="~/rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Custom -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/icons/film.ico" type="image/x-icon" />
    <!-- Modernizr -->
    <link rel="stylesheet" href="~/css/external/idangerous.swiper.css"/>
    <link rel="stylesheet" href="~/css/external/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/external/jquery.selectbox.css" />
    <link href="~/js/site.js" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->


</head>

<body>
    <style>

        .translucent-input {
            background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
            border: 2px solid #000; /* Black border */
            color: #000; /* Text color */
            padding: 10px;
            border-radius: 5px;
            outline: none;
            font-size: 1em; /* Larger text size */
        }

            .translucent-input::placeholder {
                color: white; /* Placeholder text color */
                font-size: 1em; /* Placeholder text size */
            }

            .translucent-input::before {
                content: attr(aria-label);
                position: absolute;
                top: -20px; /* Adjust as needed */
                left: 10px; /* Adjust as needed */
                color: white;
                font-size: 12px; /* Adjust as needed */
                transition: color 0.3s;
            }

            .translucent-input:focus::before {
                color: black;
            }
    </style>
 <div id="toast"></div>
    <form id="logoutForm" style="display:none;" method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"></form>

 <section class="wrapper">
        <header class="header-wrapper">
            
            <div class="container">
                <!-- Logo link-->
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Index" asp-area="Admin" asp-controller="Manager" class="logo">
                        <img alt="logo" src="~/images/movie-clapper-open_83519.png" />
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-area="" asp-controller="Home" class="logo">
                        <img alt="logo" src="~/images/movie-clapper-open_83519.png" />
                    </a>
                }
                

                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                                <span class="lines"></span>
                            </span>
                        </span>
                    </a>

                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="~/Home/AllFilm">Phim</a>                           
                            <ul>
                                <li class="menu__nav-item">
                                    <a href="~/Home/UpcomingFilm">Phim sắp chiếu</a>
                                </li>
                                <li class="menu__nav-item">
                                    <a href="~/Home/phim_dang_chieu">Phim đang chiếu</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <span class="sub-nav-toggle plus "></span>
                            <a href="~/Home/AllFilm">Thể loại</a>
                            <ul>
                                @if (model?.FilmCategories != null)
                                {


                                    @foreach (var item in model?.FilmCategories)
                                    {
                                        <li class="menu__nav-item">
                                            <a href="@Url.Action("SortFilmsByCategories", "Home", new { area = "", id = item.FilmCategoryId })">@item.Name</a>
                                        </li>
                                    }
                                    @*  <partial name="_FilmCategoriesPartial" model="model.FilmCategories" /> *@

                                }
                                else
                                {

                                        <li class="menu__nav-item text-white" >Hoàn thành đăng nhập/đăng ký để tiếp tục xem</li>

                                }
                            </ul>
@*                            @await Component.InvokeAsync("FilmCategory") *@ 
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="~/Home/FAQs">FAQs</a>
                     
                        </li> 
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="~/Home/Contact">Liên hệ</a>

                        </li>
                        <li>
                            <form action="/Home/SearchByName" method="get" class="">
                                <div class="input-group mb-3">
                                    <input type="text" name="film" class="form-control translucent-input " placeholder="Từ khóa tìm kiếm" aria-label="Từ khóa tìm kiếm" aria-describedby="basic-addon2" style="width: 300px;height:35px;flex-shrink:inherit" >
                                    <button type="submit" class="input-group-text" id="basic-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </form>
                           
                        </li>
                        
                    </ul>
                </nav>

                <!-- Additional header buttons / Auth and direct link to booking-->
                <div class="control-panel">
                    @* <div class="auth auth--home">
                    <div class="auth__show">
                    <span class="auth__image">
                    <img alt="" src="images/client-photo/auth.png" />
                    </span>
                    </div>
                    <a href="#" class="btn btn--sign btn--singin"> me </a>
                    <ul class="auth__function">
                    <li><a href="#" class="auth__function-item">Watchlist</a></li>
                    <li><a href="#" class="auth__function-item">Booked tickets</a></li>
                    <li><a href="#" class="auth__function-item">Discussion</a></li>
                    <li><a href="#" class="auth__function-item">Settings</a></li>
                    </ul>
                    </div> *@ @*
                    <partial name="_LoginPartial" /> *@
                    <div class="row">
@*                         <partial name="_LoginPartial" /> *@
                        @if (!SignInManager.IsSignedIn(User) && user != null)
                        {
                            <div class="col-4 py-lg-2">
                                <div class="row">
                                    <a asp-area="Identity" asp-page="/Account/Register"
                                       class="text-decoration-none text-light" style="text-align:right;">
                                        Đăng
                                        ký
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 py-lg-2">
                                <div class="row">
                                    <a href="/Identity/Account/Login" class="text-decoration-none text-light"
                                       style="text-align: right;">Đăng nhập</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-4 py-lg-2">
                                <div class="row justify-content-end">
                                    <a href="javascript:void(0);" id="logoutLink" class="text-decoration-none text-light" style="text-align:right;">Đăng xuất</a>
                                </div>
                            </div>
                            <div class="col-5 py-lg-2">
                                <div class="row justify-content-end">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index"
                                       class="text-decoration-none text-light" style="text-align: center;">
                                        Quản
                                        lí tài khoản
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="col-1 py-1">
                            @if (!SignInManager.IsSignedIn(User) && user != null)
                            {
                                <a href="/Identity/Account/Login" class="text-decoration-none text-light">
                                    <span class="fs-3">
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a href="~/ViewTicket/showTickets"
                                   class="text-decoration-none text-light" style="text-align:left;">
                                    <span class="fs-3">
                                        <i class="fa-solid fa-ticket"></i>
                                    </span>
                                </a>
                            }
                        </div>
                        <a href="/BookingTicket/Index"
                           class="btn btn-md btn--warning btn--book btn-control--home login-window">
                            Vé
                            của tôi
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        @*     </div>
        *@
    </section>

    <div class="clearfix"></div>

    <footer class="footer-wrapper">
        <section class="container">
            <div class="col-xs-4 col-md-2 footer-nav">
                <ul class="nav-link">
                    <li>
                        <a asp-controller="Home" asp-action="AllFilm" class="nav-link__item">Tất cả Phim</a>  
                    </li>

                </ul>
            </div>
            <div class="col-xs-4 col-md-2 footer-nav">
                <ul class="nav-link">
                    <li>
                        <a asp-controller="Home" asp-action="UpcomingFilm" class="nav-link__item">Phim sắp chiếu</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link__item" id="backToTop">Phim hot cho bạn</a>
                    </li>
                    

                </ul>
            </div>
            <div class="col-xs-4 col-md-2 footer-nav">
                <ul class="nav-link">
                    <li><a href="/Home/FAQs" class="nav-link__item">FAQs</a></li>
                    <li>
                        <a href="/Home/Contact" class="nav-link__item">Liên hệ</a>
                    </li>

                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="footer-info">
                    <p class="heading-special--small">
                        InfinityCinema<br /><span class="title-edition" style="text-transform: uppercase">Các mạng xã hội khác</span>
                    </p>

                    <div class="social">
                        <a href="#" class="social__variant fa fa-facebook"></a>
                        <a href="#" class="social__variant fa fa-twitter"></a>
                        <a href="#" class="social__variant fa fa-instagram"></a>
                    </div>

                    <div class="clearfix"></div>
                    <p class="copy" style="font-size:15px">
                        &copy; InfinityCinema, @DateTime.UtcNow.Year.<br />
                        Được thực hiện bởi Bùi Chí Bảo, Phạm Trần Nhật Minh, Lê Trường An
                    </p>
                </div>
            </div>
        </section>
    </footer>
    <!-- Slider -->
    <!-- JavaScript-->
    <!-- jQuery 1.9.1-->
    @* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        window.jQuery ||
            document.write(
                '<script src="js/external/jquery-1.10.1.min.js"><\/script>'
            );
    </script>
    <!-- Migrate -->
    <script src="~/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- jQuery REVOLUTION Slider -->
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    <!-- Mobile menu -->
    <script src="~/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="~/js/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Stars rate -->
    <script src="~/js/external/jquery.raty.js"></script>

    <!-- Form element -->
    <script src="~/js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="~/js/form.js"></script>

    <!-- Twitter feed -->
    <script src="~/js/external/twitterfeed.js"></script>

    <!-- Custom -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/external/idangerous.swiper.min.js"></script>
    <script src="~/js/external/jquery.raty.js"></script>
    <!-- Swiper slider -->
    <script src="~/js/external/idangerous.swiper.min.js"></script>
    <!-- Magnific-popup -->
    <script src="~/js/external/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            init_Home();
        });

    </script>
    <script>
        document.getElementById('logoutLink').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('logoutForm').submit();
        });
    </script>
    <script>
        document.getElementById('backToTop').addEventListener('click', function (event) {
            event.preventDefault();
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

