@model TicketCart
@{
    ViewData["Title"] = "Index";
    decimal Total = 0;
    decimal subtotal = 0;
}


<style>
    .section-container {
        color: #fff !important;
    }

    .row.mb-4.d-flex {
        color: #fff !important;
    }

    .section.cart-section.section-b-space {
        padding: 50px 0 100px;
    }

    .cart--container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .cart--container .item--cart {
            /* align-self: flex-end */
            margin: 0px 0 50px 90px;
        }

    .cart-checkout-section {
    }

    .total-box-checkout {
        margin: 10px 5px 100px;
        width: 330px;
        height: 170px;
        padding: 30px;
        background-color: #1e1f29;
        opacity: 0.9;
        border-radius: 27px;
        box-shadow: 10px 10px 5px 0px rgba(206,16,16,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(206,16,16,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(206,16,16,0.75);
        box-sizing: border-box;
    }

        .total-box-checkout .title-details, .total-box-checkout .action-total {
            margin: 5px auto;
        }

    .table > tbody > tr > td {
        vertical-align: middle;
        line-height: 1.2;
        padding: 8px;
        border-top: 2px solid #ddd
    }

    .title-gradient {
        font-size: 26px;
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .title-gradient-h {
        font-size: 26px;
        text-transform: uppercase;
        background-color: #de0004;
        background-image: linear-gradient(90deg, #f00 0%, #122125 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .title-gradient
    }

    .box-updown {
        display: flex;
    }
</style>


<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            @if (Model.Items.Count == 0)
            {
                <div class="cart--container">
                    <div>
                        <h3 class="title-gradient">OOPS! CHƯA THÊM SẢN PHẨM NÀO!!!</h3>
                                            
                    <div class="item--cart">
                            <a asp-action="Index" asp-controller="Home"  class="btn-action" style="margin: 20px; display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
                                <i class="fa-solid fa-arrow-left"></i>
                                Tiếp tục đặt vé
                            </a>
                        </div>

                    </div>
                </div>

            }
            else
            {
                <div class="section-title text-center">
                    <h2 style="margin: 20px 0 30px" class="title-gradient-h">Your Cart</h2>
                </div>

                <div class="col-sm-12 table-responsive mt-4">

                    <table class="table cart-table">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">Hình ảnh</th>
                                <th scope="col">Tên phim</th>
                                <th scope="col">Số ghế</th>
                                <th scope="col">Số phòng</th>
                                <th scope="col">Giá tiền</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        @foreach (var item in Model.Items)
                        {
                                             
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="javascript:void();">
                                            <img src="@item.PosterUrl" class=" blur-up lazyload" width="120px" height="129px" />
                                        </a>
                                    </td>
                                    <td @* class="col-md-3 col-lg-3 col-xl-3" *@>
                                        <h6 style="vertical-align:central" class="mb-0">@item.FilmName</h6>
                                    </td>
                                    <td @* class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" *@>
                                        <h6 style="vertical-align:central" class="mb-0">@item.SeatNumber</h6>
                                    </td>
                                    <td>
                                        <h6 style="vertical-align:central" class="mb-0">@item.RoomName</h6>
                                    </td>

                                    <td>
                                        <h6 style="vertical-align:central" class="mb-0">@item.Price</h6>
                                    </td>
                                    <td style="vertical-align:central" @* class="col-md-3 col-lg-3 col-xl-5" *@>
                                        <div style="font-size:20px; ">
                                            <form asp-action="RemoveFromCart" asp-route-filmId="@item.FilmId" asp-route-time="@item.FilmScheduleId" asp-route-seatID="@item.SeatId" method="post">
                                                <button type="submit" class="btn btn-sm btn-secondary"><i class="fa-solid fa-trash-can"></i></button>
                                            </form>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        }
                    </table>
                </div>


                <div class="cart-container">
                    <div class="cart-item">
                        <a href="~/Product" class="btn-action" style="margin-left: 0">
                            <i class="fa-solid fa-arrow-left"></i>
                            Tiếp tục mua hàng
                        </a>
                    </div>

                </div>

                <div class="cart-checkout-section">
                    <div class="row g-4">
                        <div class="col-lg-4 col-sm-6">
                            @*<div class="promo-section">
                        <form class="row g-3">
                        <div class="col-7">
                        <input type="text" class="form-control" id="number" placeholder="Coupon Code">
                        </div>
                        <div class="col-5">
                        <button class="btn btn-solid-default rounded btn">Apply Coupon</button>
                        </div>
                        </form>
                        </div>*@
                        </div>

                        <div class="col-lg-4 col-sm-6 ">
                            @*<div class="checkout-button">
                        <a href="checkout.html" class="btn btn-solid-default btn fw-bold">
                        Thanh toán <i class="fas fa-arrow-right ms-1"></i>
                        </a>
                        </div>*@
                        </div>

                        <div class="col-lg-4">

                            <div class="total-box-checkout">
                                <div class="total-details">
                                    <div class="title--total">
                                        <h4 style="color: #fff">Total Order Price</h4>
                                        <h5 style="color: #fff">Price is:  <span id="cart_subtotal">@Total $</span></h5>

                                    </div>
                                    <div class="action-total">
                                        @{
                                            string checkout = "javascript:void();";
                                            if (Total > 0)
                                            {
                                                checkout = "/Checkout";
                                            }
                                        }
                                        <a asp-action="Checkout" asp-controller="ShoppingCart">
                                            <button class="btn-action">
                                                <i class="fa fa-shopping-cart"></i>
                                                Truy cập Thanh toán
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Cart Section End -->

@* <h1>Index</h1>

<style>
    * {
        color: black;
    }
</style>

@if (Model.Items.Count == 0|| Model.Items == null)
{
    <h2>KHONG CO DU LIEU</h2>
}
else
{
    @foreach (var item in Model.Items)
    {
        <div class="cardWrap">
            <div class="cardCard cardLeft">
                <h1>Startup <span>Cinema</span></h1>
                <div class="titleTicket">
                    <h2>@item.FilmId</h2>
                    <span>movie</span>
                </div>
                <div class="name">
                    <h2>@item.FilmScheduleId</h2>
                    <span>name</span>
                </div>
                <div class="seat">
                    <h2>@item.SeatId</h2>
                    <span>seat</span>
                </div>
                <div class="time">
                    <h2>@item.Price</h2>
                    <span>time</span>
                </div>

            </div>
        </div>
    }
}

<style>
    .cardWrap {
        width: 27em;
        margin: 3em auto;
        color: #fff;
        font-family: sans-serif;
    }

    .cardCard {
        background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
        height: 11em;
        float: left;
        position: relative;
        padding: 1em;
        margin-top: 100px;
    }

    .cardLeft {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 16em;
    }

    .cardRight {
        width: 6.5em;
        border-left: 0.18em dashed #fff;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

        .cardRight:before, .cardRight:after {
            content: "";
            position: absolute;
            display: block;
            width: 0.9em;
            height: 0.9em;
            background: #fff;
            border-radius: 50%;
            left: -0.5em;
        }

        .cardRight:before {
            top: -0.4em;
        }

        .cardRight:after {
            bottom: -0.4em;
        }

    h1 {
        font-size: 1.1em;
        margin-top: 0;
    }

        h1 span {
            font-weight: normal;
        }

    .titleTicket, .nameTicket, .seatId, .timeSpan {
        text-transform: uppercase;
        font-weight: normal;
    }

        .titleTicket h2, .nameTicket h2, .seatId h2, .timeSpan h2 {
            font-size: 0.9em;
            color: #525252;
            margin: 0;
        }

        .titleTicket span, .nameTicket span, .seatId span, .timeSpan span {
            font-size: 0.7em;
            color: #a2aeae;
        }

    .titleTicket {
        margin: 2em 0 0 0;
    }

    .nameTicket, .seatId {
        margin: 0.7em 0 0 0;
    }

    .timeSpan {
        margin: 0.7em 0 0 1em;
    }

    .seatId, .timeSpan {
        float: left;
    }

    .eye {
        position: relative;
        width: 2em;
        height: 1.5em;
        background: #fff;
        margin: 0 auto;
        border-radius: 1em/0.6em;
        z-index: 1;
    }

        .eye:before, .eye:after {
            content: "";
            display: block;
            position: absolute;
            border-radius: 50%;
        }

        .eye:before {
            width: 1em;
            height: 1em;
            background: #e84c3d;
            z-index: 2;
            left: 8px;
            top: 4px;
        }

        .eye:after {
            width: 0.5em;
            height: 0.5em;
            background: #fff;
            z-index: 3;
            left: 12px;
            top: 8px;
        }

    .numberNA {
        text-align: center;
        text-transform: uppercase;
    }

        .numberNA h3 {
            color: #e84c3d;
            margin: 0.9em 0 0 0;
            font-size: 2.5em;
        }

        .numberNA span {
            display: block;
            color: #a2aeae;
        }

    .barcode {
        height: 2em;
        width: 0;
        margin: 1.2em 0 0 0.8em;
        box-shadow: 1px 0 0 1px #343434, 5px 0 0 1px #343434, 10px 0 0 1px #343434, 11px 0 0 1px #343434, 15px 0 0 1px #343434, 18px 0 0 1px #343434, 22px 0 0 1px #343434, 23px 0 0 1px #343434, 26px 0 0 1px #343434, 30px 0 0 1px #343434, 35px 0 0 1px #343434, 37px 0 0 1px #343434, 41px 0 0 1px #343434, 44px 0 0 1px #343434, 47px 0 0 1px #343434, 51px 0 0 1px #343434, 56px 0 0 1px #343434, 59px 0 0 1px #343434, 64px 0 0 1px #343434, 68px 0 0 1px #343434, 72px 0 0 1px #343434, 74px 0 0 1px #343434, 77px 0 0 1px #343434, 81px 0 0 1px #343434;
    }
</style> *@