@model IEnumerable<MoviesBooking.Models.Film>

<p>
    <a asp-action="Add" asp-area="Admin" asp-controller="Movie">Thêm phim mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameFilm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameFilm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmCategory.Name)
            </td>
            <td>
                <a asp-action="Update"  asp-area="Admin" asp-controller="Movie" asp-route-id="@item.FilmId">Edit</a> |
                <a asp-action="Display" asp-area="Admin" asp-controller="Movie" asp-route-id="@item.FilmId">Details</a> |
                <a asp-action="Delete" asp-area="Admin" asp-controller="Movie" asp-route-id="@item.FilmId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
