@model IEnumerable<MoviesBooking.Models.Film>

<p>
    <a asp-action="Add" asp-area="Admin" asp-controller="Movie">Thêm phim mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Tên phim</span>
            </th>
            <th>
                <span>Thể loại</span>
            </th>
            <th><span>Hành động</span></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameFilm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmCategory.Name)
            </td>
            <td>
                <a asp-action="Update"  asp-area="Admin" asp-controller="Movie" asp-route-id="@item.FilmId">Chỉnh sửa</a> |
                <a asp-action="Display" asp-area="Admin" asp-controller="Movie" asp-route-id="@item.FilmId">Chi tiết</a> |
                <a asp-action="Delete" asp-area="Admin" asp-controller="Movie" asp-route-id="@item.FilmId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
