@model MoviesBooking.Models.Film

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Phim</h1>

<h3>Bạn có muốn xóa Phim này chứ?</h3>
<br />
<h3>Thông tin phim:</h3>
<br />
<h1>@Model.NameFilm</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!-- Poster -->
            <img src="@Model.PosterUrl" class="img-fluid" alt="Poster">
        </div>

        <div class="col-md-8">
            <!-- Film Information -->
            <h4>Film Information</h4>
            <dl class="row">
                <!-- Display film details -->
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PremiereTimes.StartTime)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PremiereTimes.StartTime)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.DirectorName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DirectorName)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Language)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FilmRated)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FilmRated)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FilmDuration)
                </dt>
                <dd class="col-sm-9">
                    @{
                        int durationInMinutes = Model.FilmDuration;
                        int hours = durationInMinutes / 60;
                        int minutes = durationInMinutes % 60;
                    }
                    @hours giờ @minutes phút
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Actors)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Actors)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FilmCategory)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FilmCategory.Name)
                </dd>

            </dl>
        </div>
    </div>
</div>
<!-- Trailer -->
<div class="row mt-4 justify-content-center align-items-center">
    <div class="col-md-12 text-center">
        <h4>Trailer</h4>
        <!-- Embed YouTube trailer using iframe -->
        @{
            // Extract video ID from youtu.be link
            string videoId = Model.TrailerUrl.Substring(Model.TrailerUrl.LastIndexOf("/") + 1);
            // Construct standard YouTube embed URL
            string embedUrl = $"https://www.youtube.com/embed/{videoId}";
        }
        <div class=" embed-responsive embed-responsive-16by9 ">
            <iframe class="embed-responsive-item" src="@embedUrl" allowfullscreen style="width:500px; height: 250px;"></iframe>
        </div>
    </div>
</div>
<div> 
    <form asp-action="Delete">
        <input type="hidden" asp-for="FilmId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Manager" asp-area="Admin">Back to List</a>
    </form>
</div>
