@model MoviesBooking.Models.Film

@{
    ViewData["Title"] = "Display";
}

<h1>Display</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFilm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFilm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.PosterUrl" width="250px"/>
        </dd>
        <dt class = "col-sm-2">
            <span>Trailer</span>
        </dt>
        <dd class = "col-sm-10">
            @{
                // Extract video ID from youtu.be link
                string videoId = Model.TrailerUrl.Substring(Model.TrailerUrl.LastIndexOf("/") + 1);
                // Construct standard YouTube embed URL
                string embedUrl = $"https://www.youtube.com/embed/{videoId}";
            }
            <div class="@* embed-responsive *@ embed-responsive-21by9 ">
                <iframe class="embed-responsive-item" src="@embedUrl" allowfullscreen style="width: 100%; height: 500px;"></iframe>
            </div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremiereDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PremiereDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmRated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmRated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmId">Edit</a> |
    <a asp-action="Index" asp-area="Admin" asp-controller="Manager">Back to List</a>
</div>
