@model BookingMovieTickets.Models.Film

@{
    ViewData["Title"] = "Display";
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FilmId" class="btn btn-warning">Chỉnh sửa</a> |
    <a asp-action="Index" asp-area="Admin" asp-controller="Movie" class="btn btn-primary">Trở về</a>
</div>


<h3>Thông tin phim:</h3><br />
<h1>@Model?.NameFilm</h1>
<br />
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!-- Poster -->
            <img src="@Model.PosterUrl" class="img-fluid" alt="Poster">
        </div>

        <div class="col-md-8">
            <!-- Film Information -->
            <dl class="row">
                <!-- Display film details -->
                <dt class="col-sm-3">
                    Mô tả phim
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-3">
                    Thời gian công chiếu
                </dt>
                <dd class="col-sm-9">
                    @Model.StartTime.ToString("dd/MM/yyyy hh:mm:ss tt", new System.Globalization.CultureInfo("vi-VN"));
                </dd>

                <dt class="col-sm-3">
                    Đạo diễn
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DirectorName)
                </dd>

                <dt class="col-sm-3">
                    Ngôn ngữ
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Language)
                </dd>

                <dt class="col-sm-3">
                    Rated
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FilmRated)
                </dd>

                <dt class="col-sm-3">
                    Thời lượng
                </dt>
                <dd class="col-sm-9">
                    @{

                        int durationInMinutes = Model.FilmDuration;
                        int hours = durationInMinutes / 60;
                        int minutes = durationInMinutes % 60;
                        string durationText = durationInMinutes == 0 ? "--" : $"{durationInMinutes / 60} giờ {durationInMinutes % 60} phút ({Model.FilmDuration} phút)";
                    }

                    @durationText
                </dd>

                <dt class="col-sm-3">
                    Dàn diễn viên
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Actors)
                </dd>

                <dt class="col-sm-3">
                    Thể loại
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FilmCategory.Name)
                </dd>

            </dl>
        </div>
    </div>
</div>
    <!-- Trailer -->
<div class="row mt-4 justify-content-center align-items-center">
    <div class="col-md-12 text-center">
        <h4 >Trailer</h4>
        <!-- Embed YouTube trailer using iframe -->
        @{
            // Extract video ID from youtu.be link
            string videoId = Model.TrailerUrl.Substring(Model.TrailerUrl.LastIndexOf("/") + 1);
            // Construct standard YouTube embed URL
            string embedUrl = $"https://www.youtube.com/embed/{videoId}";
        }
        @if (Model.TrailerUrl.Contains("youtube.com"))
        {
            <div class=" embed-responsive embed-responsive-16by9 ">
                <iframe class="embed-responsive-item" src="@Model.TrailerUrl" allowfullscreen style="width:500px; height: 250px;"></iframe>
            </div>
        }
        else
        {
            <div class=" embed-responsive embed-responsive-16by9 ">
                <iframe class="embed-responsive-item" src="@embedUrl" allowfullscreen style="width:500px; height: 250px;"></iframe>
            </div>
        }
        
    </div>
</div>
<br />

