@model MoviesBooking.Models.Film

@{
    ViewData["Title"] = "Display";
    var datetime = DateTime.UtcNow.Date.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("vi-VN"));
}

<style>
    .share {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .time-select .time-select__item:hover {
        background-color: #fe505a;
        color: #fff;
    }
</style>

<!-- Main content -->
<section class="container">
    <div class="col-sm-8 col-md-9">
        <div class="movie">
            <h2 class="page-heading">@Model.NameFilm</h2>

            <div class="movie__info">
                <div class="col-sm-6 col-md-4 movie-mobile">
                    <div class="movie__images">
                        <img alt="" src="@Model.PosterUrl">
                    </div>
                </div>

                <div class="col-sm-6 col-md-8">
                    <p class="movie__time">
                        @{
                            int durationInMinutes = Model.FilmDuration;
                            int hours = durationInMinutes / 60;
                            int minutes = durationInMinutes % 60;
                        }
                        @hours giờ @minutes phút (@Model.FilmDuration phút)
                    </p>

                    <p class="movie__option"><strong>Thể loại: </strong><a href="#">@Model.FilmCategory.Name</a>
                    <p class="movie__option">
                        <strong>Ngày ra mắt: </strong>
                            @Model.StartTime.ToString("dd/MM/yyyy hh:mm:ss tt", new System.Globalization.CultureInfo("vi-VN"));
                    </p>
                    <p class="movie__option"><strong>Đạo diễn: </strong><a href="#">@Model.DirectorName</a></p>
                    <p class="movie__option"><strong>Diễn viên: </strong><span>@Model.Actors</span>
                    <p class="movie__option"><strong>Giới hạn tuổi: </strong><a href="#">@Model.FilmRated</a></p>

                    <a href="#" class="comment-link">Bình luận:  10</a>

                            <div class="movie__btns">
                                <a asp-action="SelectSeats" asp-controller="BookingTicket" asp-route-filmId="@Model.FilmId" class="btn btn-md btn--warning">Đặt vé</a>
                            </div>

                    <div class="share">
                        <span class="share__marker">Chia sẻ: </span>
                        <div class="addthis_toolbox addthis_default_style ">
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fa-brands fa-x-twitter"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <i class="fa-brands fa-instagram"></i>

                                <button type="button" class="btn btn-primary btn-floating mx-1">
                                    <i class="fa-brands fa-tiktok"></i>
                                </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <h2 class="page-heading">@Html.DisplayNameFor(model => model.Description)</h2>

            <p class="movie__describe">@Html.DisplayFor(model => model.Description)</p>

            <h2 class="page-heading">Trailer</h2>
            <div class="row mt-4 justify-content-center align-items-center">
                <div class="col-md-12 text-center">
                    <!-- Embed YouTube trailer using iframe -->
                    @{
                        // Extract video ID from youtu.be link
                        string videoId = Model.TrailerUrl.Substring(Model.TrailerUrl.LastIndexOf("/") + 1);
                        // Construct standard YouTube embed URL
                        string embedUrl = $"https://www.youtube.com/embed/{videoId}";
                    }
                    @if (Model.TrailerUrl.Contains("youtube.com"))
                    {
                        <div class=" embed-responsive embed-responsive-16by9 ">
                            <iframe class="embed-responsive-item" src="@Model.TrailerUrl" allowfullscreen style="width:500px; height: 250px;"></iframe>
                        </div>
                    }
                    else
                    {
                        <div class=" embed-responsive embed-responsive-16by9 ">
                            <iframe class="embed-responsive-item" src="@embedUrl" allowfullscreen style="width:500px; height: 250px;"></iframe>
                        </div>
                    }

                </div>
            </div>
            @* <div class="movie__media">
            <!-- Trailer -->

            <br />

            </div>
            *@
        </div>

        <h2 class="page-heading">lịch chiếu</h2>
        <div class="choose-container">


            <div class="datepicker">
                <span class="datepicker__marker"><i class="fa fa-calendar"></i>Ngày</span>
                <input type="text" id="datepicker" value='@datetime' class="datepicker__input">
            </div>

            <a href="#" id="map-switch" class="watchlist watchlist--map"><span class="show-map">Show cinemas on map</span><span class="show-time">Show cinema time table</span></a>

            <div class="clearfix"></div>

            <div class="time-select">
                <div class="time-select__group group--first">
                    
                    <div class="col-sm-4">

                        @if (Model.FilmSchedules != null)
                        {
                            @foreach (var item in Model.FilmSchedules.Where(fs => fs.TheatreRoom?.Theatre != null).Select(fs => fs.TheatreRoom.Theatre.Name).Distinct())
                            {
                                <p class="time-select__place">
                                    @item
                                </p>
                            }

                        }

                    </div>
                    <ul class="col-sm-8 items-wrap">
                                               
                        @foreach (var item in Model.FilmSchedules)
                        {
                            if (item.FilmId == Model.FilmId)
                            {
                                <a asp-controller="BookingTicket" asp-action="SelectSeats" asp-route-filmId="@item.FilmId" asp-route-Time="@item.FilmScheduleId">
                                    <li class="time-select__item" data-time='@item.FilmScheduleDescription'>                                    
                                           @item.FilmScheduleDescription                                    
                                    </li>
                                </a>
                            }
                        }
                    </ul>
                </div>

                @* <div class="time-select__group">
                <div class="col-sm-4">
                <p class="time-select__place">Empire</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                <li class="time-select__item" data-time='10:45'>10:45</li>
                <li class="time-select__item" data-time='16:00'>16:00</li>
                <li class="time-select__item" data-time='19:00'>19:00</li>
                <li class="time-select__item" data-time='21:15'>21:15</li>
                <li class="time-select__item" data-time='23:00'>23:00</li>
                </ul>
                </div>

                <div class="time-select__group">
                <div class="col-sm-4">
                <p class="time-select__place">Curzon</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                <li class="time-select__item" data-time='09:00'>09:00</li>
                <li class="time-select__item" data-time='11:00'>11:00</li>
                <li class="time-select__item" data-time='13:00'>13:00</li>
                <li class="time-select__item" data-time='15:00'>15:00</li>
                <li class="time-select__item" data-time='17:00'>17:00</li>
                <li class="time-select__item" data-time='19:0'>19:00</li>
                <li class="time-select__item" data-time='21:0'>21:00</li>
                <li class="time-select__item" data-time='23:0'>23:00</li>
                <li class="time-select__item" data-time='01:0'>01:00</li>
                </ul>
                </div>

                <div class="time-select__group">
                <div class="col-sm-4">
                <p class="time-select__place">Odeon</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                <li class="time-select__item" data-time='10:45'>10:45</li>
                <li class="time-select__item" data-time='16:00'>16:00</li>
                <li class="time-select__item" data-time='19:00'>19:00</li>
                <li class="time-select__item" data-time='21:15'>21:15</li>
                <li class="time-select__item" data-time='23:00'>23:00</li>
                </ul>
                </div>

                <div class="time-select__group group--last">
                <div class="col-sm-4">
                <p class="time-select__place">Picturehouse</p>
                </div>
                <ul class="col-sm-8 items-wrap">
                <li class="time-select__item" data-time='17:45'>17:45</li>
                <li class="time-select__item" data-time='21:30'>21:30</li>
                <li class="time-select__item" data-time='02:20'>02:20</li>
                </ul>
                </div> *@
            </div>

            <!-- hiden maps with multiple locator-->

            <h2 class="page-heading">bình luận (10)</h2>

            <div class="comment-wrapper">
                <form id="comment-form" class="comment-form" method='post'>
                    <textarea class="comment-form__text" placeholder='Viết bình luận của bạn tại đây'></textarea>
                    <label class="comment-form__info">250 characters left</label>
                    <button type='submit' class="btn btn-md btn--danger comment-form__btn">bình luận</button>
                </form>

                <div class="comment-sets">

                    <div class="comment">
                        <div class="comment__images">
                            <img alt='' src="~/images/comment/avatar.jpg">
                        </div>

                        <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>Roberta Inetti</a>
                        <p class="comment__date">today | 03:04</p>
                        <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                        <a href='#' class="comment__reply">Reply</a>
                    </div>

                    <div class="comment">
                        <div class="comment__images">
                            <img alt='' src="~/images/comment/avatar-olia.jpg">
                        </div>

                        <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span>Olia Gozha</a>
                        <p class="comment__date">22.10.2013 | 14:40</p>
                        <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                        <a href='#' class="comment__reply">Reply</a>
                    </div>

                    <div class="comment comment--answer">
                        <div class="comment__images">
                            <img alt='' src="~/images/comment/avatar-dmitriy.jpg">
                        </div>

                        <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span>Dmitriy Pustovalov</a>
                        <p class="comment__date">today | 10:19</p>
                        <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                        <a href='#' class="comment__reply">Reply</a>
                    </div>

                    <div class="comment comment--last">
                        <div class="comment__images">
                            <img alt='' src="~/images/comment/avatar.jpg">
                        </div>

                        <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>Sia Andrews</a>
                        <p class="comment__date"> 22.10.2013 | 12:31 </p>
                        <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                        <a href='#' class="comment__reply">Reply</a>
                    </div>

                    <div id='hide-comments' class="hide-comments">
                        <div class="comment">
                            <div class="comment__images">
                                <img alt='' src="~/images/comment/avatar-sia.jpg">
                            </div>

                            <a href='#' class="comment__author"><span class="social-used fa fa-facebook"></span>Roberta Inetti</a>
                            <p class="comment__date">today | 03:04</p>
                            <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                            <a href='#' class="comment__reply">Reply</a>
                        </div>

                        <div class="comment">
                            <div class="comment__images">
                                <img alt='' src="~/images/comment/avatar.jpg">
                            </div>

                            <a href='#' class="comment__author"><span class="social-used fa fa-vk"></span>Olia Gozha</a>
                            <p class="comment__date">22.10.2013 | 14:40</p>
                            <p class="comment__message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae enim sollicitudin, euismod erat id, fringilla lacus. Cras ut rutrum lectus. Etiam ante justo, volutpat at viverra a, mattis in velit. Morbi molestie rhoncus enim, vitae sagittis dolor tristique et.</p>
                            <a href='#' class="comment__reply">Reply</a>
                        </div>
                    </div>

                    <div class="comment-more">
                        <a href="#" class="watchlist">Show more comments</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <aside class="col-sm-4 col-md-3">
        <div class="sitebar">
            @* <div class="banner-wrap">
            <img alt='banner' src="http://placehold.it/500x500">
            </div>

            <div class="banner-wrap">
            <img alt='banner' src="http://placehold.it/500x500">
            </div>

            <div class="banner-wrap banner-wrap--last">
            <img alt='banner' src="http://placehold.it/500x500">
            </div> *@

            <div class="promo marginb-sm">
                <div class="promo__head">A.Movie app</div>
                <div class="promo__describe">for all smartphones<br> and tablets</div>
                <div class="promo__content">
                    <ul>
                        <li class="store-variant"><a href="#"><img alt='' src="images/apple-store.svg"></a></li>
                        <li class="store-variant"><a href="#"><img alt='' src="images/google-play.svg"></a></li>
                        <li class="store-variant"><a href="#"><img alt='' src="images/windows-store.svg"></a></li>
                    </ul>
                </div>
            </div>

            <div class="category category--discuss category--count marginb-sm mobile-category ls-cat">
                <h3 class="category__title">the Most <br><span class="title-edition">discussed posts</span></h3>
                <ol>
                    <li><a href="#" class="category__item">Gravity</a></li>
                    <li><a href="#" class="category__item">The Counselor</a></li>
                    <li><a href="#" class="category__item">Bad Grandpa</a></li>
                    <li><a href="#" class="category__item">Blue Is the Warmest Color</a></li>
                    <li><a href="#" class="category__item">Rush</a></li>
                    <li><a href="#" class="category__item">Captain Phillips</a></li>
                    <li><a href="#" class="category__item">Escape Plan</a></li>
                    <li><a href="#" class="category__item">Cloudy with a Chance of Meatballs 2</a></li>
                    <li><a href="#" class="category__item">Prisoners</a></li>
                    <li><a href="#" class="category__item">The Fifth Estate</a></li>
                </ol>
            </div>

            <div class="category category--cooming category--count marginb-sm mobile-category rs-cat">
                <h3 class="category__title">coming soon<br><span class="title-edition">movies</span></h3>
                <ol>
                    <li><a href="#" class="category__item">Ender's Game</a></li>
                    <li><a href="#" class="category__item">About Time</a></li>
                    <li><a href="#" class="category__item">Last Vegas</a></li>
                    <li><a href="#" class="category__item">Free Birds</a></li>
                    <li><a href="#" class="category__item">The Wolf of Wall Street</a></li>
                    <li><a href="#" class="category__item">The Best Man Holiday</a></li>
                    <li><a href="#" class="category__item">The Book Thief</a></li>
                    <li><a href="#" class="category__item">The Hunger Games: Catching Fire</a></li>
                    <li><a href="#" class="category__item">Delivery Man</a></li>
                    <li><a href="#" class="category__item">Nebraska</a></li>
                </ol>
            </div>



        </div>
    </aside>

</section>

<div class="clearfix"></div>

