@model BookingMovieTickets.VIewModel.FilmVM
@using BookingMovieTickets.Extensions
@{
    ViewData["Title"] = "Trang chủ";
    var listMovies = ViewBag.Movies;
    var listMoviesCategories = ViewBag.MoviesCategories;
    var shuffledHotFilm = Model.Films.Shuffle().Where(film=>film.StartTime<= DateTime.UtcNow).Distinct().Take(6).ToList();
    var shuffledFilm = Model.Films.Shuffle().Distinct().Take(6);
}  
@section Styles{
    <style>

        .select__group.film-category {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

            .select__group.film-category .select__variant.category {
                padding: 10px;
                border-bottom: 1px solid #eee;
            }

                .select__group.film-category .select__variant.category:last-child {
                    border-bottom: none;
                }


            .select__group.film-category::-webkit-scrollbar {
                width: 8px;
            }

            .select__group.film-category::-webkit-scrollbar-thumb {
                background-color: #888;
                border-radius: 10px;
            }

                .select__group.film-category::-webkit-scrollbar-thumb:hover {
                    background-color: #555;
                }
    </style>
}

@if (!User.IsInRole("Admin"))
{
    
    @section Slider{
    <div class="bannercontainer">
        <div class="banner">
            <ul>
                <li data-transition="fade"
                    data-slotamount="7"
                    class="slide"
                    data-slide="Phim mới.">
                    <img alt="" src="images/slides/bad-boys-4-930x620.jpg" height="100px" />
                    <div class="caption slide__name margin-slider"
                         data-x="left"
                         data-y="80"
                         data-splitin="chars"
                         data-elementdelay="0.1"
                         data-speed="700"
                         data-start="1400"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                         data-frames="{ typ :lines;
                        elementdelay :0.1;
                        start:1650;
                        speed:500;
                        ease:Power3.easeOut;
                        animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                        },
                        { typ :lines;
                        elementdelay :0.1;
                        start:2150;
                        speed:500;
                        ease:Power3.easeOut;
                        animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                        }
                        "
                         data-splitout="lines"
                         data-endelementdelay="0.1"
                         data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                         data-endspeed="500"
                         data-end="8400"
                         data-endeasing="Back.easeIn">
                        BAD BOY 4
                    </div>

                    <div class="caption slide__time margin-slider sfr str"
                         data-x="center"
                         data-hoffset="-243"
                         data-y="186"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-end="8700"
                         data-endeasing="Back.easeIn">
                        Công chiếu:  7 tháng 6 năm 2024
                    </div>
                    <div class="caption slide__date margin-slider lfb ltb"
                         data-x="left"
                         data-hoffset="-149"
                         data-y="186"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-end="8200"
                         data-endeasing="Back.easeIn">
                    </div>
                    <div class="caption slide__time margin-slider sfr str"
                         data-x="right"
                         data-hoffset="-113"
                         data-y="186"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-end="8700"
                         data-endeasing="Back.easeIn">
                    </div>
                    <div class="caption slide__date margin-slider lfb ltb"
                         data-x="left"
                         data-y="186"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-end="8200"
                         data-endeasing="Back.easeIn">
                    </div>
                    <div class="caption slide__text margin-slider customin customout"
                         data-x="left"
                         data-y="250"
                         data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="3000"
                         data-endspeed="400"
                         data-end="8000"
                         data-endeasing="Back.easeIn">
                        Cặp đôi Will Smith và Martin Lawrence chính thức quay trở lại màn ảnh!
                    </div>
                    <div class="caption margin-slider skewfromright customout"
                         data-x="left"
                         data-y="324"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="3300"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-end="7700"
                         data-endeasing="Power4.easeOut">
                        @*                         <a href="#" class="slide__link">check out cinemas &amp; time</a>
                    *@
                    </div>
                </li>

                <li data-transition="fade"
                    data-slotamount="7"
                    class="slide fading-slide"
                    data-slide="Các phim mới
                    sắp công chiếu">
                    <img alt="" src="images/bg-video.jpg" />
                    <div class="caption slide__video"
                         data-x="0"
                         data-y="0"
                         data-autoplay="true">
                        <video class="media-element"
                               autoplay="autoplay"
                               preload="none"
                               loop="loop"
                               muted=""
                               src="video/TravelIs.mp4">
                            <source type="video/webm" src="video/TravelIs.webm" />
                            <source type="video/mp4" src="video/TravelIs.mp4" />
                            <source type="video/ogg" src="video/TravelIs.ogv" />
                        </video>
                    </div>

                    <div class="caption slide__name slide__name--smaller"
                         data-x="left"
                         data-y="160"
                         data-splitin="chars"
                         data-elementdelay="0.1"
                         data-speed="700"
                         data-start="1400"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                         data-frames="{ typ :lines;
                        elementdelay :0.1;
                        start:1650;
                        speed:500;
                        ease:Power3.easeOut;
                        animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                        },
                        { typ :lines;
                        elementdelay :0.1;
                        start:2150;
                        speed:500;
                        ease:Power3.easeOut;
                        animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                        }
                        "
                         data-splitout="lines"
                         data-endelementdelay="0.1"
                         data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                         data-endspeed="500"
                         data-endeasing="Back.easeIn">
                        Các phim mới sắp công chiếu<br />Tại InfinityCinema
                    </div>
                    <br />
                    <div class="caption slide__time position-center postion-place--one sfr stl"
                         data-x="left"
                         data-y="242"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-endeasing="Back.easeIn">
                    </div>
                    <div class="caption slide__date position-center postion-place--two lfb ltb"
                         data-x="left"
                         data-y="242"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-endeasing="Back.easeIn">
                    </div>
                    <div class="caption slide__time position-center postion-place--three sfr stl"
                         data-x="left"
                         data-y="242"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-endeasing="Back.easeIn">
                    </div>
                    <div class="caption slide__date position-center postion-place--four lfb ltb"
                         data-x="left"
                         data-y="242"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-endeasing="Back.easeIn">
                    </div>

                    <div class="caption lfb slider-wrap-btn ltb"
                         data-x="left"
                         data-y="310"
                         data-speed="400"
                         data-start="3300"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeOut">
                        <a href="/Home/UpcomingFilm" class="btn btn-md btn--danger btn--wide slider--btn">Tìm hiểu thêm</a>
                    </div>
                </li>

                <li data-transition="fade"
                    data-slotamount="7"
                    class="slide"
                    data-slide="Tìm kiếm
                    Thứ yêu thích.">
                    <img alt="" src="images/slides/next-slide.jpg" />
                    <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                         data-x="left"
                         data-y="160"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="700"
                         data-start="1400"
                         data-easing="easeOutBack"
                         data-endspeed="500"
                         data-end="8600"
                         data-endeasing="Back.easeIn">
                        <span class="highlight"></span> Bắt đầu
                        <span class="highlight"></span>
                    </div>

                    <div class="caption slide__descript customin customout"
                         data-x="left"
                         data-y="240"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="700"
                         data-start="2000"
                         data-endspeed="500"
                         data-end="8400"
                         data-endeasing="Back.easeIn">
                        tìm phim phù hợp với bản thân tại INFINITYCINEMA
                    </div>

                    <div class="caption lfb customout slider-wrap-btn"
                         data-x="left"
                         data-y="310"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power4.easeOut"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-endspeed="400"
                         data-end="8000"
                         data-endeasing="Power4.easeOut">
                        <a href="/Home/AllFilm" class="btn btn-md btn--danger slider--btn">Hãy khám phá</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    }
    <!--end slider -->
    <!-- Main content -->
    <section class="container" style="background-color:rgb(252,235,211)">
        <div class="movie-best">
            <div class="col-sm-10 col-sm-offset-1 movie-best__rating">
                Phim hot hiện nay
            </div>
            <div class="col-sm-12 change--col">

                @foreach(var item in Model.Films.Shuffle().Distinct().Take(6))
                {

                    int durationInMinutes = item.FilmDuration;
                    string durationText = durationInMinutes == 0 ? "--" : $"{durationInMinutes / 60} giờ {durationInMinutes % 60} phút";

                    <div class="movie-beta__item">
                        <img alt="@item.NameFilm" src="@item.PosterUrl" width="190px" height="300px" />
@*                         <span class="best-rate">5.0</span>
 *@
                        <ul class="movie-beta__info" style="width:100%;">
                            <li></li>
                            <li>
                                <p class="movie__time">
                                    @durationText
                                </p>
                                <p>Thể loại: @item.FilmCategory.Name</p>
                            </li>
                            <li class="last-block">
                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="slide__link">Xem chi tiết</a>
                            </li>
                        </ul>
                    </div>
                }


            </div>
            <div class="col-sm-10 col-sm-offset-1 movie-best__check">
                Các phim đang chiếu tại các rạp
            </div>
        </div>

        <div class="col-sm-12 " style="background-color:rgb(252,235,211)">
            <div class="mega-select-present mega-select-top mega-select--full">
                <div class="mega-select-marker" style="user-select:none">
                    @* <div class="marker-indecator location">
                        <p class="select-marker">
                            <span>movie to watch now</span> <br />in your city
                        </p>
                    </div> *@

                    <div class="marker-indecator cinema">
                        <p class="select-marker">
                            <span>Tìm phim yêu thích của </span> <br />bản thân
                        </p>
                    </div>

                    <div class="marker-indecator film-category">
                        <p class="select-marker">
                            <span>Tìm theo</span> <br />sở thích
                            <br /><br />của <br /> <br />bản thân
                        </p>
                    </div>

                    @* <div class="marker-indecator actors">
                        <p class="select-marker">
                            <span> like particular stars</span> <br />find them
                        </p>
                    </div>

                    <div class="marker-indecator director">
                        <p class="select-marker">
                            <span>yêu thích các phim </span> <br />Bởi đạo diễn
                        </p>
                    </div>

                    <div class="marker-indecator country">
                        <p class="select-marker">
                            <span>search for movie from certain </span> <br />country?
                        </p>
                    </div> *@
                </div>

                <div class="mega-select pull-right" style="user-select:none">
                    <span class="mega-select__point" style="user-select:none">Tìm kiếm theo: </span>
                    <ul class="mega-select__sort">

                        <li class="filter-wrap " >
                            <a href="#" class="mega-select__filter filter--active" style="user-select:none" data-filter="cinema">Phim hay ngẫu nhiên</a>
                        </li>
                        <li class="filter-wrap">
                            <a href="#" style="user-select:none"
                               class="mega-select__filter"
                               data-filter="film-category">Thể loại</a>
                        </li>
                    </ul>

                    <input name="search-input" type="text" class="select__field" />

                    <div class="select__btn">
                       
                        <a href="#" id="searchFilmButton" class="btn btn-md btn--danger cinema"><span class="hidden-exrtasm">
                            Tìm phim</span>
                        </a>
                        <a href="#" id="searchCategoryButton" class="btn btn-md btn--danger film-category">
                                <span class="hidden-exrtasm">Tìm phim theo thể loại</span>
                        </a>
                    </div>
                    <div class="select__dropdowns" id="filmSearchResults">

                        <ul class="select__group cinema" >

                            @foreach (var item in shuffledFilm)
                            {
                                <li class="select__variant film" data-value="@item.NameFilm" data-id="@item.FilmId">
                                    @item.NameFilm
                                </li>
                                
                            }
                        </ul>

                        <ul class="select__group film-category">
                            @foreach (var item in Model.FilmCategories)
                            {
                                <li class="select__variant category" data-id="@item.FilmCategoryId" data-value="@item.Name">
                                    @item.Name
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-sm-12" style="background-color:rgb(252,235,211)">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <h2 id="target" class="page-heading heading--outcontainer">
                        <a asp-action="phim_dang_chieu" asp-controller="Home" style="font-size:20px">Đang chiếu tại các rạp</a>
                    </h2>
                </div>
                <div class="col-sm-4 col-md-3">
                    <h2 id="target" class="page-heading">
                        <a asp-action="UpcomingFilm" asp-controller="Home" style="font-size:20px"> Các phim sắp chiếu</a>
                    </h2>
                </div>
              </div>
        </div>

        <div class="col-sm-12" style="background-color:rgb(252,235,211)">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    @{
                        var randomAtMoment = Model.Films.Shuffle().Distinct().Skip(6).Take(6).ToList();//dễ tạm
                    }
                    @for(int i = 6; i < Model.Films.Count(); i++)
                    {
                        switch (i)
                        {
                            case 6:
                            case 10:
                                @foreach(var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView" >
                                        <div class="movie movie--test movie--test--dark movie--test--left" >
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="@item.NameFilm" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="@Url.Action("SortFilmsByCategories", "Home", new { area = "", id = item.FilmCategoryId })">@item.FilmCategory.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                   
                                }  
                            break;
                            case 7:
                            case 11:
                                @foreach (var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--light movie--test--left" >
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="@item.NameFilm" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="@Url.Action("SortFilmsByCategories", "Home", new { area = "", id = item.FilmCategoryId })">@item.FilmCategory.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                   
                                }
                                break;
                            case 8:
                                @foreach (var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--light movie--test--right">
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="@item.NameFilm" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="@Url.Action("SortFilmsByCategories", "Home", new { area = "", id = item.FilmCategoryId })">@item.FilmCategory?.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    
                                }
                                break;
                            case 9:
                                @foreach (var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--dark movie--test--right" >
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="@item.NameFilm" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="@Url.Action("SortFilmsByCategories", "Home", new { area = "", id = item.FilmCategoryId })">@item.FilmCategory?.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                   
                                }
                                break;
                        }
                    }


                </div>

                <aside class="col-sm-4 col-md-3">
                    <div class="sitebar first-banner--left">
                        @{
                            var randomUpcoming = Model.Films.Shuffle().Where(film=>film.StartTime > DateTime.UtcNow).Distinct().Take(3).ToList();
                            
                        }
                        @if(randomUpcoming.Count >=3)
                        {
                            <div class="banner-wrap first-banner--left">
                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@randomUpcoming[0].FilmId">
                                    <img alt="banner" src="@randomUpcoming[0].PosterUrl" />
                                </a>
                                
                            </div>
                            <div class="banner-wrap">
                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@randomUpcoming[1].FilmId">
                                    <img alt="banner" src="@randomUpcoming[1].PosterUrl" />
                                </a>
                                
                            </div>
                            <div class="banner-wrap banner-wrap--last">
                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@randomUpcoming[2].FilmId">
                                    <img alt="banner" src="@randomUpcoming[2].PosterUrl" />
                                </a>
                                
                            </div>
                        }
                        else
                        {
                            <p>Hiện tại không có phim hot :( </p>
                        }
                        
                        
                    </div>
                </aside>
            </div>
        </div>

        <div class="col-sm-12" style="background-color:rgb(252,235,211)">
            <h2 class="page-heading">Latest news</h2>

            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="images/client-photo/post-thor.jpg" />
                        <div class="social social--position social--hide">
                            <span class="social__name">Share:</span>
                            <a href="#"
                               class="social__variant social--first fa fa-facebook"></a>
                            <a href="#"
                               class="social__variant social--second fa fa-twitter"></a>
                            <a href="#"
                               class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title">"Thor: The Dark World" - World Premiere</a>
                    <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
                </div>
            </div>
            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="images/client-photo/post-annual.jpg" />
                        <div class="social social--position social--hide">
                            <span class="social__name">Share:</span>
                            <a href="#"
                               class="social__variant social--first fa fa-facebook"></a>
                            <a href="#"
                               class="social__variant social--second fa fa-twitter"></a>
                            <a href="#"
                               class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title">
                        30th Annual Night Of Stars Presented By The Fashion Group
                        International
                    </a>
                    <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
                </div>
            </div>
            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="images/client-photo/post-awards.jpg" />
                        <div class="social social--position social--hide">
                            <span class="social__name">Share:</span>
                            <a href="#"
                               class="social__variant social--first fa fa-facebook"></a>
                            <a href="#"
                               class="social__variant social--second fa fa-twitter"></a>
                            <a href="#"
                               class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title">Hollywood Film Awards 2013</a>
                    <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
                </div>
            </div>
        </div>
    </section>



    <!-- open/close -->
    <div class="overlay overlay-hugeinc">
        <section class="container">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="overlay-close">Close</button>
                <form id="login-form" class="login" method="get" novalidate="">
                    <p class="login__title">
                        sign in <br /><span class="login-edition">welcome to A.Movie</span>
                    </p>

                    <div class="social social--colored">
                        <a href="#" class="social__variant fa fa-facebook"></a>
                        <a href="#" class="social__variant fa fa-twitter"></a>
                        <a href="#" class="social__variant fa fa-tumblr"></a>
                    </div>

                    <p class="login__tracker">or</p>

                    <div class="field-wrap">
                        <input type="email"
                               placeholder="Email"
                               name="user-email"
                               class="login__input" />
                        <input type="password"
                               placeholder="Password"
                               name="user-password"
                               class="login__input" />

                        <input type="checkbox"
                               id="#informed"
                               class="login__check styled" />
                        <label for="#informed" class="login__check-info">remember me</label>
                    </div>

                    <div class="login__control">
                        <button type="submit" class="btn btn-md btn--warning btn--wider">
                            sign in
                        </button>
                        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
}
@section Scripts {
    <script>
        // Submit the form on Enter key press
        document.addEventListener('DOMContentLoaded', (event) => {
            const categoryVariants = document.querySelectorAll('.select__variant.category');
            const filmVariants = document.querySelectorAll('.select__variant.film');
            let selectedCategoryId = null;
            let selectedFilmId = null;

            function addClickEventListener(variants, type) {
                variants.forEach(variant => {
                    variant.addEventListener('click', () => {
                        // Remove 'selected' class from all variants
                        variants.forEach(v => v.classList.remove('selected'));

                        // Add 'selected' class to the clicked variant
                        variant.classList.add('selected');

                        // Get the selected ID based on type
                        if (type === 'category') {
                            selectedCategoryId = variant.getAttribute('data-id');
                        } else if (type === 'film') {
                            selectedFilmId = variant.getAttribute('data-id');
                        }
                    });
                });
            }

            addClickEventListener(categoryVariants, 'category');
            addClickEventListener(filmVariants, 'film');

            document.getElementById('searchCategoryButton').addEventListener('click', (event) => {
                event.preventDefault(); // Prevent default anchor behavior
                if (selectedCategoryId) {
                    // Redirect to the SortFilmsByCategories action with the selected category ID
                    window.location.href = `@Url.Action("SortFilmsByCategories", "Home")/${selectedCategoryId}`;
                } else {
                    alert('Please select a category.');
                }
            });

            document.getElementById('searchFilmButton').addEventListener('click', (event) => {
                event.preventDefault(); // Prevent default anchor behavior
                if (selectedFilmId) {
                    // Redirect to the FilmDetails action with the selected film ID
                    window.location.href = `@Url.Action("FilmDetailView", "Home")/${selectedFilmId}`;
                } else {
                    alert('Please select a film.');
                }
            });
        });
    </script>
}