@model BookingMovieTickets.VIewModel.FilmVM
@{
    ViewData["Title"] = "Home Page";
    var listMovies = ViewBag.Movies;
    var listMoviesCategories = ViewBag.MoviesCategories;
    int dem = 0;
}   
@if (!User.IsInRole("Admin"))
{
    <div class="bannercontainer">
        <div class="banner">
            <ul>
                <li data-transition="fade"
                    data-slotamount="7"
                    class="slide"
                    data-slide="Rush.">
                    <img alt="" src="images/slides/first-slide.jpg" />
                    <div class="caption slide__name margin-slider"
                         data-x="right"
                         data-y="80"
                         data-splitin="chars"
                         data-elementdelay="0.1"
                         data-speed="700"
                         data-start="1400"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                         data-frames="{ typ :lines;
                                                     elementdelay :0.1;
                                                     start:1650;
                                                     speed:500;
                                                     ease:Power3.easeOut;
                                                     animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                     },
                                                     { typ :lines;
                                                     elementdelay :0.1;
                                                     start:2150;
                                                     speed:500;
                                                     ease:Power3.easeOut;
                                                     animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                     }
                                                     "
                         data-splitout="lines"
                         data-endelementdelay="0.1"
                         data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                         data-endspeed="500"
                         data-end="8400"
                         data-endeasing="Back.easeIn">
                        RUSH
                    </div>

                    <div class="caption slide__time margin-slider sfr str"
                         data-x="right"
                         data-hoffset="-243"
                         data-y="186"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-end="8700"
                         data-endeasing="Back.easeIn">
                        From
                    </div>
                    <div class="caption slide__date margin-slider lfb ltb"
                         data-x="right"
                         data-hoffset="-149"
                         data-y="186"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-end="8200"
                         data-endeasing="Back.easeIn">
                        October 18
                    </div>
                    <div class="caption slide__time margin-slider sfr str"
                         data-x="right"
                         data-hoffset="-113"
                         data-y="186"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-end="8700"
                         data-endeasing="Back.easeIn">
                        - till
                    </div>
                    <div class="caption slide__date margin-slider lfb ltb"
                         data-x="right"
                         data-y="186"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-end="8200"
                         data-endeasing="Back.easeIn">
                        November 01
                    </div>
                    <div class="caption slide__text margin-slider customin customout"
                         data-x="right"
                         data-y="250"
                         data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="3000"
                         data-endspeed="400"
                         data-end="8000"
                         data-endeasing="Back.easeIn">
                        Two-time Academy Award winner Ron Howard, teams once again with
                        fellow two-time Academy<br />
                        Award nominee, writer Peter Morgan , on Rush, a spectacular
                        big-screen re-creation of the merciless<br />
                        1970s rivalry between James Hunt and Niki Lauda.
                    </div>
                    <div class="caption margin-slider skewfromright customout"
                         data-x="right"
                         data-y="324"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="3300"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-end="7700"
                         data-endeasing="Power4.easeOut">
                        <a href="#" class="slide__link">check out cinemas &amp; time</a>
                    </div>
                </li>

                <li data-transition="fade"
                    data-slotamount="7"
                    class="slide fading-slide"
                    data-slide="Travel worldwide.
    Create trip film.">
                    <img alt="" src="images/bg-video.jpg" />
                    <div class="caption slide__video"
                         data-x="0"
                         data-y="0"
                         data-autoplay="true">
                        <video class="media-element"
                               autoplay="autoplay"
                               preload="none"
                               loop="loop"
                               muted=""
                               src="video/TravelIs.mp4">
                            <source type="video/webm" src="video/TravelIs.webm" />
                            <source type="video/mp4" src="video/TravelIs.mp4" />
                            <source type="video/ogg" src="video/TravelIs.ogv" />
                        </video>
                    </div>

                    <div class="caption slide__name slide__name--smaller"
                         data-x="left"
                         data-y="160"
                         data-splitin="chars"
                         data-elementdelay="0.1"
                         data-speed="700"
                         data-start="1400"
                         data-easing="easeOutBack"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                         data-frames="{ typ :lines;
                                                     elementdelay :0.1;
                                                     start:1650;
                                                     speed:500;
                                                     ease:Power3.easeOut;
                                                     animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                     },
                                                     { typ :lines;
                                                     elementdelay :0.1;
                                                     start:2150;
                                                     speed:500;
                                                     ease:Power3.easeOut;
                                                     animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                     }
                                                     "
                         data-splitout="lines"
                         data-endelementdelay="0.1"
                         data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                         data-endspeed="500"
                         data-endeasing="Back.easeIn">
                        Travel, Admire, Remember.
                    </div>

                    <div class="caption slide__time position-center postion-place--one sfr stl"
                         data-x="left"
                         data-y="242"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-endeasing="Back.easeIn">
                        From
                    </div>
                    <div class="caption slide__date position-center postion-place--two lfb ltb"
                         data-x="left"
                         data-y="242"
                         data-speed="500"
                         data-start="2400"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-endeasing="Back.easeIn">
                        April 18
                    </div>
                    <div class="caption slide__time position-center postion-place--three sfr stl"
                         data-x="left"
                         data-y="242"
                         data-speed="300"
                         data-start="2100"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-endeasing="Back.easeIn">
                        - till
                    </div>
                    <div class="caption slide__date position-center postion-place--four lfb ltb"
                         data-x="left"
                         data-y="242"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power4.easeOut"
                         data-endspeed="400"
                         data-endeasing="Back.easeIn">
                        May 01
                    </div>

                    <div class="caption lfb slider-wrap-btn ltb"
                         data-x="left"
                         data-y="310"
                         data-speed="400"
                         data-start="3300"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeOut">
                        <a href="#" class="btn btn-md btn--danger btn--wide slider--btn">learn more</a>
                    </div>
                </li>

                <li data-transition="fade"
                    data-slotamount="7"
                    class="slide"
                    data-slide="Stop wishing.
    Start doing.">
                    <img alt="" src="images/slides/next-slide.jpg" />
                    <div class="caption slide__name slide__name--smaller slide__name--specific customin customout"
                         data-x="left"
                         data-y="160"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="700"
                         data-start="1400"
                         data-easing="easeOutBack"
                         data-endspeed="500"
                         data-end="8600"
                         data-endeasing="Back.easeIn">
                        Stop <span class="highlight">wishing.</span> Start
                        <span class="highlight">doing.</span>
                    </div>

                    <div class="caption slide__descript customin customout"
                         data-x="left"
                         data-y="240"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="700"
                         data-start="2000"
                         data-endspeed="500"
                         data-end="8400"
                         data-endeasing="Back.easeIn">
                        find your best match movie with A.MOVIE
                    </div>

                    <div class="caption lfb customout slider-wrap-btn"
                         data-x="left"
                         data-y="310"
                         data-speed="500"
                         data-start="2800"
                         data-easing="Power4.easeOut"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-endspeed="400"
                         data-end="8000"
                         data-endeasing="Power4.easeOut">
                        <a href="#" class="btn btn-md btn--danger slider--btn">check out movies</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--end slider -->
    <!-- Main content -->
    <section class="container">
        <div class="movie-best">
            <div class="col-sm-10 col-sm-offset-1 movie-best__rating">
                Phim hot hiện nay
            </div>
            <div class="col-sm-12 change--col">
                
                @foreach(var item in Model.Films.Take(6))
                {
                    int durationInMinutes = item.FilmDuration;
                    string durationText = durationInMinutes == 0 ? "--" : $"{durationInMinutes / 60} giờ {durationInMinutes % 60} phút";

                    <div class="movie-beta__item">
                        <img alt="" src="@item.PosterUrl" width="190px" height="300px"/>
                        <span class="best-rate">5.0</span>

                        <ul class="movie-beta__info" style="width:100%;">
                            <li><span class="best-voted">idk</span></li>
                            <li>
                                <p class="movie__time">
                                   @durationText
                                </p>
                                <p>@item.FilmCategory.Name</p>
</li>
                            <li class="last-block">
                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="slide__link">more</a>
                            </li>
                        </ul>
                    </div>
                }
@* 
                <span class="best-rate">5.0</span>

                                <ul class="movie-beta__info">
                                    <li><span class="best-voted">idk</span></li>
                                    <li>
                                        <p class="movie__time">
                                            @durationText
                                        </p>
                                        <p>@item.FilmCategory.Name</p>
                                    </li>
                                    <li class="last-block">
                                        <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="slide__link">more</a>
                                    </li>
                                </ul>
                            </div>
                            break;
                        case 2:
                            <div class="movie-beta__item third--item">
                                <img alt="" src="@item.PosterUrl" width="380px" height="600px" />
                                <span class="best-rate">5.0</span>

                                <ul class="movie-beta__info">
                                    <li><span class="best-voted">idk</span></li>
                                    <li>
                                        <p class="movie__time">
                                            @durationText
                                        </p>
                                        <p>@item.FilmCategory.Name</p>
                                    </li>
                                    <li class="last-block">
                                        <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="slide__link">more</a>
                                    </li>
                                </ul>
                            </div>
                            break;
                        case 3:
                            <div class="movie-beta__item hidden-xs">
                                <img alt="" src="@item.PosterUrl" width="380px" height="600px" />
                                <span class="best-rate">5.0</span>

                                <ul class="movie-beta__info">
                                    <li><span class="best-voted">idk</span></li>
                                    <li>
                                        <p class="movie__time">
                                            @durationText
                                        </p>
                                        <p>@item.FilmCategory.Name</p>
                                    </li>
                                    <li class="last-block">
                                        <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="slide__link">more</a>
                                    </li>
                                </ul>
                            </div>
                            break;
                        case 4: case 5:
                            <div class="movie-beta__item hidden-xs hidden-sm">
                                <img alt="" src="@item.PosterUrl" width="380px" height="600px" />
                                <span class="best-rate">5.0</span>

                                <ul class="movie-beta__info">
                                    <li><span class="best-voted">idk</span></li>
                                    <li>
                                        <p class="movie__time">
                                            @durationText
                                        </p>
                                        <p>@item.FilmCategory.Name</p>
                                    </li>
                                    <li class="last-block">
                                        <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="slide__link">more</a>
                                    </li>
                                </ul>
                            </div>
                            break;
                    }
                    hotFilmCounter++;
                } *@

            </div>
            <div class="col-sm-10 col-sm-offset-1 movie-best__check">
                Các phim đang chiếu tại các rạp
            </div>
        </div>

        <div class="col-sm-12">
            <div class="mega-select-present mega-select-top mega-select--full">
                <div class="mega-select-marker">
                    @* <div class="marker-indecator location">
                        <p class="select-marker">
                            <span>movie to watch now</span> <br />in your city
                        </p>
                    </div> *@

                    <div class="marker-indecator cinema">
                        <p class="select-marker">
                            <span>Tìm phim yêu thích của </span> <br />bản thân
                        </p>
                    </div>

                    <div class="marker-indecator film-category">
                        <p class="select-marker">
                            <span>Tìm theo</span> <br />sở thích
                            <br /><br />của <br /> <br />bản thân
                        </p>
                    </div>

                    @* <div class="marker-indecator actors">
                        <p class="select-marker">
                            <span> like particular stars</span> <br />find them
                        </p>
                    </div>

                    <div class="marker-indecator director">
                        <p class="select-marker">
                            <span>yêu thích các phim </span> <br />Bởi đạo diễn
                        </p>
                    </div>

                    <div class="marker-indecator country">
                        <p class="select-marker">
                            <span>search for movie from certain </span> <br />country?
                        </p>
                    </div> *@
                </div>

                <div class="mega-select pull-right">
                    <span class="mega-select__point">Tìm kiếm theo: </span>
                    <ul class="mega-select__sort">
                        <li class="filter-wrap">

                        </li>
                        <li class="filter-wrap">
                            <a href="#" class="mega-select__filter" data-filter="cinema">Tên</a>
                        </li>
                        <li class="filter-wrap">
                            <a href="#"
                               class="mega-select__filter"
                               data-filter="film-category">Thể loại</a>
                        </li>
                        @* <li class="filter-wrap">
                            <a href="#" class="mega-select__filter" data-filter="director">Đạo diễn</a>
                        </li> *@

                    </ul>

                    <input name="search-input" type="text" class="select__field" />

                    <div class="select__btn">
                       @*  <a href="#" class="btn btn-md btn--danger location">find <span class="hidden-exrtasm">your city</span></a>
                        <a href="#" class="btn btn-md btn--danger cinema">find <span class="hidden-exrtasm">suitable cimema</span></a>
                        <a href="#" class="btn btn-md btn--danger film-category">find <span class="hidden-exrtasm">best category</span></a>
                        <a href="#" class="btn btn-md btn--danger actors">find <span class="hidden-exrtasm">talented actors</span></a>
                        <a href="#" class="btn btn-md btn--danger director">find <span class="hidden-exrtasm">favorite director</span></a>
                        <a href="#" class="btn btn-md btn--danger country">find <span class="hidden-exrtasm">produced country</span></a> *@
                       
                        @foreach (var item in Model.Films.Take(6))
                        {
                            <a href="/Home/FilmDetailView/@item.FilmId" class="btn btn-md btn--danger cinema">find <span class="hidden-exrtasm">suitable cimema</span> </a>
                        }
                       
                    </div>

                    <div class="select__dropdowns">
                        @* <ul class="select__group location">
                            <li class="select__variant" data-value="London">London</li>
                            <li class="select__variant" data-value="New York">
                                New York
                            </li>
                            <li class="select__variant" data-value="Paris">Paris</li>
                            <li class="select__variant" data-value="Berlin">Berlin</li>
                            <li class="select__variant" data-value="Moscow">Moscow</li>
                            <li class="select__variant" data-value="Minsk">Minsk</li>
                            <li class="select__variant" data-value="Warsawa">Warsawa</li>
                        </ul> *@

                        <ul class="select__group cinema">
                            @* <li class="select__variant" data-value="Cineworld">
                                Cineworld
                            </li>
                            <li class="select__variant" data-value="Empire">Empire</li>
                            <li class="select__variant" data-value="Everyman">
                                Everyman
                            </li>
                            <li class="select__variant" data-value="Odeon">Odeon</li>
                            <li class="select__variant" data-value="Picturehouse">
                                Picturehouse
                            </li> *@
                            @foreach (var item in Model.Films.Take(6))
                            {
                                <li class="select__variant" data-value="@item.NameFilm">
                                    @item.NameFilm
                                </li>
                                
                            }
                        </ul>

                        <ul class="select__group film-category">
                            <li class="select__variant" data-value="Children's">
                                Children's
                            </li>
                            <li class="select__variant" data-value="Comedy">Comedy</li>
                            <li class="select__variant" data-value="Drama">Drama</li>
                            <li class="select__variant" data-value="Fantasy">Fantasy</li>
                            <li class="select__variant" data-value="Horror">Horror</li>
                            <li class="select__variant" data-value="Thriller">
                                Thriller
                            </li>
                        </ul>

                        @* <ul class="select__group actors">
                            <li class="select__variant" data-value="Leonardo DiCaprio">
                                Leonardo DiCaprio
                            </li>
                            <li class="select__variant" data-value="Johnny Depp">
                                Johnny Depp
                            </li>
                            <li class="select__variant" data-value="Jack Nicholson">
                                Jack Nicholson
                            </li>
                            <li class="select__variant" data-value="Robert De Niro">
                                Robert De Niro
                            </li>
                            <li class="select__variant" data-value="Morgan Freeman">
                                Morgan Freeman
                            </li>
                            <li class="select__variant" data-value="Jim Carrey">
                                Jim Carrey
                            </li>
                            <li class="select__variant" data-value="Adam Sandler">
                                Adam Sandler
                            </li>
                            <li class="select__variant" data-value="Ben Stiller">
                                Ben Stiller
                            </li>
                        </ul> *@

                        @* <ul class="select__group director">
                            <li class="select__variant" data-value="Steven Spielberg">
                                Steven Spielberg
                            </li>
                            <li class="select__variant" data-value="Martin Scorsese">
                                Martin Scorsese
                            </li>
                            <li class="select__variant" data-value="Guy Ritchie">
                                Guy Ritchie
                            </li>
                            <li class="select__variant" data-value="Christopher Nolan">
                                Christopher Nolan
                            </li>
                            <li class="select__variant" data-value="Tim Burton">
                                Tim Burton
                            </li>
                        </ul>
 *@
                        @* <ul class="select__group country">
                            <li class="select__variant" data-value="USA">USA</li>
                            <li class="select__variant" data-value="Germany">Germany</li>
                            <li class="select__variant" data-value="Australia">
                                Australia
                            </li>
                            <li class="select__variant" data-value="UK">UK</li>
                            <li class="select__variant" data-value="Japan">Japan</li>
                            <li class="select__variant" data-value="Serbia">Serbia</li>
                        </ul> *@
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <h2 id="target" class="page-heading heading--outcontainer">
            Đang chiếu tại các rạp
        </h2>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    @for(int i = 6; i < Model.Films.Count(); i++)
                    {
                        switch (i)
                        {
                            case 6:
                            case 10:
                                @foreach(var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--dark movie--test--left">
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a href="movie-page-left.html" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="#">@item.FilmCategory.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                   
                                }  
                            break;
                            case 7:
                            case 11:
                                @foreach (var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--light movie--test--left">
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a href="movie-page-left.html" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="#">@item.FilmCategory.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                   
                                }
                                break;
                            case 8:
                                @foreach (var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--light movie--test--right">
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a href="movie-page-left.html" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="#">@item.FilmCategory.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    
                                }
                                break;
                            case 9:
                                @foreach (var item in Model.Films.Skip(i).Take(1))
                                {
                                    <a asp-controller="Home" asp-action="FilmDetailView">
                                        <div class="movie movie--test movie--test--dark movie--test--right">
                                            <div class="movie__images">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie-beta__link">
                                                    <img alt="" src="@item.PosterUrl" style=" object-fit: cover; " width="212px" height="212px" />
                                                </a>
                                            </div>

                                            <div class="movie__info">
                                                <a asp-controller="Home" asp-action="FilmDetailView" asp-route-id="@item.FilmId" class="movie__title">
                                                    @item.NameFilm
                                                </a>

                                                <p class="movie__time">@item.FilmDuration phút</p>

                                                <p class="movie__option">
                                                    <a href="#">@item.FilmCategory.Name</a>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                   
                                }
                                break;
                        }
                    }

                    <div class="row">
                        <div class="social-group">
                            <div class="col-sm-6 col-md-4 col-sm-push-6 col-md-push-4">
                                <div class="social-group__head">
                                    Join <br />our social groups
                                </div>
                                <div class="social-group__content">
                                    A lot of fun, discussions, queezes and contests among
                                    members. <br class="hidden-xs" /><br />Always be first to
                                    know about best offers from cinemas and our partners
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4 col-sm-pull-6 col-md-pull-4">
                                <div class="facebook-group">
                                    <iframe class="fgroup"
                                            src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fthemeforest&amp;width=240&amp;height=330&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false"
                                            scrolling="no"
                                            frameborder="0"
                                            style="
                          border: none;
                          overflow: hidden;
                          width: 240px;
                          height: 330px;
                            "
                                            allowTransparency="true"></iframe>
                                </div>
                            </div>

                            <div class="clearfix visible-sm"></div>
                            <div class="col-sm-6 col-md-4">
                                <div class="twitter-group">
                                    <div id="twitter-feed"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="col-sm-4 col-md-3">
                    <div class="sitebar first-banner--left">
                        <div class="banner-wrap first-banner--left">
                            <img alt="banner" src="images/banners/sale.jpg" />
                        </div>

                        <div class="banner-wrap">
                            <img alt="banner" src="images/banners/sport.jpg" />
                        </div>

                        <div class="banner-wrap banner-wrap--last">
                            <img alt="banner" src="images/banners/boots.jpg" />
                        </div>

                        <div class="promo marginb-sm">
                            <div class="promo__head">A.Movie app</div>
                            <div class="promo__describe">
                                for all smartphones<br />
                                and tablets
                            </div>
                            <div class="promo__content">
                                <ul>
                                    <li class="store-variant">
                                        <a href="#">
                                            <img alt="" src="images/apple-store.svg" />
                                        </a>
                                    </li>
                                    <li class="store-variant">
                                        <a href="#">
                                            <img alt="" src="images/google-play.svg" />
                                        </a>
                                    </li>
                                    <li class="store-variant">
                                        <a href="#">
                                            <img alt="" src="images/windows-store.svg" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

        <div class="col-sm-12">
            <h2 class="page-heading">Latest news</h2>

            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="images/client-photo/post-thor.jpg" />
                        <div class="social social--position social--hide">
                            <span class="social__name">Share:</span>
                            <a href="#"
                               class="social__variant social--first fa fa-facebook"></a>
                            <a href="#"
                               class="social__variant social--second fa fa-twitter"></a>
                            <a href="#"
                               class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title">"Thor: The Dark World" - World Premiere</a>
                    <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
                </div>
            </div>
            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="images/client-photo/post-annual.jpg" />
                        <div class="social social--position social--hide">
                            <span class="social__name">Share:</span>
                            <a href="#"
                               class="social__variant social--first fa fa-facebook"></a>
                            <a href="#"
                               class="social__variant social--second fa fa-twitter"></a>
                            <a href="#"
                               class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title">
                        30th Annual Night Of Stars Presented By The Fashion Group
                        International
                    </a>
                    <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
                </div>
            </div>
            <div class="col-sm-4 similar-wrap col--remove">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="images/client-photo/post-awards.jpg" />
                        <div class="social social--position social--hide">
                            <span class="social__name">Share:</span>
                            <a href="#"
                               class="social__variant social--first fa fa-facebook"></a>
                            <a href="#"
                               class="social__variant social--second fa fa-twitter"></a>
                            <a href="#"
                               class="social__variant social--third fa fa-vk"></a>
                        </div>
                    </div>
                    <p class="post__date">22 October 2013</p>
                    <a href="single-page-left.html" class="post__title">Hollywood Film Awards 2013</a>
                    <a href="single-page-left.html" class="btn read-more post--btn">read more</a>
                </div>
            </div>
        </div>
    </section>



    <!-- open/close -->
    <div class="overlay overlay-hugeinc">
        <section class="container">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="overlay-close">Close</button>
                <form id="login-form" class="login" method="get" novalidate="">
                    <p class="login__title">
                        sign in <br /><span class="login-edition">welcome to A.Movie</span>
                    </p>

                    <div class="social social--colored">
                        <a href="#" class="social__variant fa fa-facebook"></a>
                        <a href="#" class="social__variant fa fa-twitter"></a>
                        <a href="#" class="social__variant fa fa-tumblr"></a>
                    </div>

                    <p class="login__tracker">or</p>

                    <div class="field-wrap">
                        <input type="email"
                               placeholder="Email"
                               name="user-email"
                               class="login__input" />
                        <input type="password"
                               placeholder="Password"
                               name="user-password"
                               class="login__input" />

                        <input type="checkbox"
                               id="#informed"
                               class="login__check styled" />
                        <label for="#informed" class="login__check-info">remember me</label>
                    </div>

                    <div class="login__control">
                        <button type="submit" class="btn btn-md btn--warning btn--wider">
                            sign in
                        </button>
                        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
}