@model BookingMovieTickets.VIewModel.FilmVM
@using BookingMovieTickets
@using BookingMovieTickets.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Index";Layout = "_Layout";
}
<div class="justify-content-center text-center"> <h1>Quản lý</h1></div>

<div class="container-fluid">
    <ul class="nav nav-tabs justify-content-center" id="mainTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Phim</a>
        </li>
        <!--Thêm tab nếu cần thiết-->
        <li class="nav-item">
            <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"> Thể loại </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Rạp chiếu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Giờ công chiếu</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            <partial name="~/Areas/Admin/Views/Movie/_FilmPartialView.cshtml" model="@Model.Films"/>
        </div>
        <div class="tab-pane" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <partial name="~/Areas/Admin/Views/FilmCategory/_CategoriesPartialView.cshtml" model="@Model.FilmCategories" />
        </div>
        <div class="tab-pane" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav flex-column nav-tabs" id="subTab" role="tablist">
                        @foreach (var theatreRoom in Model.Theatres)
                        {
                            <li class="nav-item">
                                @if (theatreRoom.TheatreId == Model.Theatres.First().TheatreId)
                                {
                                    <a class="nav-link show active" id="subTab-@theatreRoom.TheatreId" data-toggle="tab" href="#subTabContent-@theatreRoom.TheatreId" role="tab"
                                    aria-controls="subTabContent-@theatreRoom.TheatreId" aria-selected="true">@theatreRoom.Name</a>
                                }
                                else
                                {
                                    <a class="nav-link" id="subTab-@theatreRoom.TheatreId" data-toggle="tab" href="#subTabContent-@theatreRoom.TheatreId" role="tab"
                                       aria-controls="subTabContent-@theatreRoom.TheatreId" aria-selected="true">@theatreRoom.Name</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-9">
                    <!-- Sub tab content -->
                    <div class="tab-content" id="subTabContent">
                        @foreach (var theatreRoom in Model.Theatres)
                        {
                            @if (theatreRoom.TheatreId == Model.Theatres.First().TheatreId)
                            {
                                 <div class="tab-pane show active" id="subTabContent-@theatreRoom.TheatreId" role="tabpanel" aria-labelledby="subTab-@theatreRoom.TheatreId">
                                <!-- Content for each location -->
                                    <partial name="~/Areas/Admin/Views/TheatreRoom/_RoomPartialView.cshtml" model="@theatreRoom.TheatreRooms" />
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane" id="subTabContent-@theatreRoom.TheatreId" role="tabpanel" aria-labelledby="subTab-@theatreRoom.TheatreId">
                                    <!-- Content for each location -->
                                    <partial name="~/Areas/Admin/Views/TheatreRoom/_RoomPartialView.cshtml" model="@theatreRoom.TheatreRooms" />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--Thêm tab content  dưới này-->
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#maimTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
        $('#subTab a').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
